body {
    background: #1d1c0d;
    margin: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url('../images/images.jfif');
}

#welcomeScreen {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid #b3b0e1;
    ;
    width: 82vw;
    height: 80vh;
    background-color: rgb(89, 185, 190);
    background-image: url("../images/charSelectBK.bmp");
    border-radius: 200px;
}

.h1 {
    font-size: 38px;
    color: #b3b0e1;
}

.h2 {
    font-size: 30px;
    color: #cfcee2;
}

.images {
    border: 3px outset rgb(13, 35, 13);
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.images img {
    display: flex;
    width: 25%;
    height: 100%;
    margin: 5px 0px;
    ;
}


/* help button */
.button {
    display: inline-block;
    text-align: center;
    vertical-align: text-bottom;
    padding: 8px 24px;
    border: 5px ridge #4d4803;
    border-radius: 100px;
    background: #e1aeae;
    box-shadow: #dab4b4 0px 0px 20px 0px;
    text-decoration: none;
    margin: 10px;
    width: 130px;
}


.button:hover {
    border: 5px ridge #96450d;
    background: #0c7217;
    color: #ffffff;
    text-decoration: none;
    box-shadow: #0c7217 0px 0px 20px 0px;
}

/* .......................................................... */
#gameContainer {
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    background-color: #fffcf2;
    color: #252422;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1000px;
    height: 97vh;
    border: 5px solid black;
    margin: 0 auto;
    border: 2px solid black;
}

#gameContainer .gameContainerTop {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

#gameContainer .petPhoto {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 50%;
    margin-left: 10px;
}

#gameContainer .petPhoto img {
   height:40vh;
   width:100%;
}
#gameContainer a {
    display: inline;
}



    
#gameContainer .petStats {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
}

#gameContainer .petStats .statsBar {
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 20px;
    background: #ccc;
    border-radius: 20px;
    box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.2);
}

#gameContainer .petStats .statsBar .stats {
    width: 100%;
    height: 20px;
    background: #5bb450;
    border-radius: 20px;
    text-align: center;
    line-height: 20px;
    color: white;
}
#gameContainer .feedBackMsg,
#gameContainer .feedBackStat {
  background-color: whitesmoke;
    padding: 10px;
    text-align: center;
    width:80%;
    border:1px solid black;
    border-radius:20px;
}
#gameContainer .feedBackMsg {margin-top:4px;}
#gameContainer .feedBackStat {margin-top:10px;}
#petActions {
    padding:20px 0px;
    margin-top:10px;
}

#gameContainer .petActions {
    display: flex;
    align-items: center;
    width:100%;
    height: 10%;
    background-color: #eb5e28;
    justify-content: space-around;
    gap:1em;
}
#controlArea {
    margin-top:20px;
    display:flex;
    flex-direction:column;
    flex:1 1 100%;
    background-color: #eda88d;;
    width:100%;
    justify-content: center;
    align-items: center;
    box-shadow: 0px -3px 3px 0px rgba(0, 0, 0, 0.2);
}

#gameContainer .returnButton {
    display: flex;
}
#gameContainer .returnButton a,
#gameContainer .petActions button {
    display: flex;
    background-color: #eb5e28;
    color: #fff;
    border-radius: 50px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    font-size: 20px;
    flex: 1  1 90%;
    justify-content: space-evenly;
 
}


.petActions,
#gameContainer .returnButton a:hover,
#gameContainer .returnButton button:hover {
    background-color: red;
}

/* ........................................................... */




/* popup window stuff */
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.75);
    transition: opacity 1000ms;
    visibility: hidden;
    opacity: 0;
}

.overlay:target {
    visibility: visible;
    opacity: 1;
    z-index: 2;
}

.popup {
    margin: 100px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 40%;
    height: 45%;
    max-height: 70vh;
    overflow-y: scroll;
    overflow-x: hidden;
    position: relative;
    transition: all 1000ms ease-in-out;
    background: rgb(169, 160, 160);
}


.popup .close {
    position: absolute;
    font-size: 2em;
    right: 0px;
    top: 0px;
    font-weight: bold;
    text-decoration: none;
    color: #006634;
}

.popup .close:hover {
    color: red;
}