
body{
}
#welcomeScreen{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border: 3px solid;
    width: 80vw;
    height: 80vh;
    background-color: rgb(89, 185, 190);
    background-image: url("https://st2.depositphotos.com/1302980/7215/v/600/depositphotos_72158679-stock-illustration-fantasy-sci-fi-martian-background.jpg");
    border-radius: 200px;
    
 }

 #wellcomeScreen


 #gameContainer


 #helpScreen


.images{
    border: 2px solid green;
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    z-index: 2;
}

.images img{
    display: flex;
    width: 120px;
    height: 120px;
    flex: 1 1 50%;
}
 

